@charset "UTF-8";

.content-wrap {
    display: table-row;
    
}

#content-wrap {
    margin: 0;
    margin-bottom: 80px;
}

.contents-container {
    margin: 0 auto;
    width: 1260px;
}

.sub_top_wrap {
    position: relative;
    box-sizing: border-box;

}

.sub-title-tag {
    display: inline-block;
    margin-top: 56px;
    width: 902px;
    box-sizing: border-box;
    color: #373f57;
    font-size: 36px;
    letter-spacing: -4px;
    line-height: 48px;
    vertical-align: top;

}

.title {
    display: inline-block;
    overflow: hidden;
    padding-right: 4px;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}



.contents-topic-nav {
    margin: 0;
    padding: 0;
}

.content-slide-category {
    margin: 0 0 48px;
    padding-right: 84px;
    position: relative;

}


.search-form {
position: relative;
height: 42px;
}

/* 전체 건수 */
.contents-list-cnt {
    font-weight: bold;
    color: #373f57;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -1.5px;
}

.box-search {
    overflow: hidden;
    
    /* 부모: search form , 부모에 relative줬으므로
    자식 요소에 absolute 주면, 서치폼기준으로 움직임 */
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #d7dce5;
    border-radius: 4px;
    background: #fff;
    box-shadow: none;
    /* z-index: 20; */
}

.input-keyword {
    position: relative;
    width: 304px;
    height: 40px;
}

/* 검색창 */
.inpTypo {
    padding: 0 35px 0 12px;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 4px;
    color: #373f57;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
}

.button-search {
    position: absolute;
    top: 17px;
    right: 40px;
    padding: 0;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    border-style: none;

}

.search-icon {
    background-color: white;
    padding: 2px;
    width: 24px;
    height: 24px;
    border: 0;
    border-style: none;
}

.content-list-wrapper {
    margin: 0;
    padding: 0;
}

.content-list-short {
    /* display: inline-block; */
    position: relative;
    padding: 20px 0; 
    border-bottom: 1px solid #d7dce5;

    /* 정렬순서, 게시글 작성 박스 양끝 배치 */
    display: flex;
    justify-content: space-between;
}


/* 좋아요 댓글많은 최신  */

.content-outline {
    /* position: relative;
    /* display: inline-block; */
    /* display: flex;
    align-items: center; 
    margin-right: 8px;
    padding: 7px 8px 0 0;
    height: 40px;
    border: 1px solid #d7dce5;
    border-radius: 4px;
    vertical-align: top; */

    display: inline-block;
    margin: 2px 2px;
    padding: 10px 10px;
    height: 40px;
    border: 1px solid #d7dce5;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: top;
}

.content-order-list {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 0;
}


/* 순서 정렬 체크 이미지 3개 모음  */
.orderList-checkImg {
    top: 5px;
    margin: 0;
    width: 14px;
    height: 14px;
    vertical-align: top; 

}

/* 순서 정렬 (좋아요, 댓글, 최신) 마우스 오버 색상 변화 처리 */
.lbl:hover {
    color: #4B498A;
}


.lbl {
    margin-left: 8px;
    padding: 10px 10px;
    height: auto;
    color: #8491a7;
    line-height: 18px;
    letter-spacing: -1px;
    vertical-align: top;
    font-size: 14px;

}


/* 게시글 작성 버튼 */
.button-content-write {
    display: inline-block;
    border: 1px solid #7A77AE;
    border-radius: 4px;
    padding: 8px 16px 8px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1px;
    text-align: center;
    background-color: #7A77AE;
    color: #fff;
    /* float: right; */
    width: 224px;
    box-sizing: border-box;
}

.button-content-write:hover {
    border: 1px solid #5A5597;
    background-color: #5A5597;
}

.content-list {
    margin-top: 0;
    border-top: none;
}


/* 포트폴리오 게시글 리스트 */
 .content-list li {
    position :relative;
    padding: 38px 32px;
    border-bottom: 1px solid #d7dce5; 
    list-style: none; 
}

.content-subject{
    display: inline-block;
    overflow: hidden;
    height: 28px;
    box-sizing: border-box;
    color: #373f57;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 28px;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;
}

.content-desc {
    display: block;
    overflow: hidden;
    margin-top: 12px;
    height: 26px;
    box-sizing: border-box;
    color: #5c667b;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.content-data-info {
    margin-top: 20px;

}

.content-info {
    margin-right: 16px;
    display: inline-block;
    /* float: left; */
    position: relative;
    padding-left: 28px;
    height: 24px;
    box-sizing: border-box;
    color: #5c667b;
    font-size: 13px;
    letter-spacing: -0.87px;
    line-height: 24px;
    vertical-align: top;
}

.content-member-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 32px;
    bottom: 38px;
    z-index: 10;
}
/* 사용자 프로필사진 */
.content-userImg {
    vertical-align: top;
    position: relative;
    height: 25px;
    width: 25px;
    left: 5px;
    margin-right: 16px;
    border-radius: 50%;
    object-fit: cover;
}

.content-writer {
    margin: 0 10px; 
}

.content-write-date {
    color: #5c667b;
    font-size: 10px;
    position: relative;
 
}

.pageButtons {
    margin: 40px 0 80px ;
    font-size: 0;
    letter-spacing: -1px;
    text-align: center;
}



.page {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0 2px;
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    background-color: #fff;
    text-decoration: none;
    color: #373f57;
}
.page:hover {
    font-weight: bold;
}

/* 임시 !!!!!  */
.pageNow {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0 2px;
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #dfdfdf;
}