@charset "UTF-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    font-family: 'Pretendard';
}

body {
    width: 1060px;
    margin: 20px auto 0;
    font-family: 'Pretendard';
}


/* 총 개수 */
h1 {
    font-size: 24px;
    font-weight: 700;
    color: #575757;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 40px;
}

.flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

input {
    font-family: 'Pretendard';
    width: auto;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #bdbdbd;
    outline: none;
}

.signup {
    float: right;
    margin-top: 10px;
    margin-right: 7px;
    padding: 11px 24px;
    border-radius: 4px;
    border: none;
    background-color: #65619E;
    color: white;
    font-family: 'Pretendard';
    font-size: 16px;
    cursor: pointer;
}

.signup:hover {
    background-color: #4E4C8D;
}

.update {
    float: right;
    margin-top: 10px;
    margin-right: 7px;
    padding: 11px 24px;
    border-radius: 4px;
    border: none;
    background-color: #65619E;
    color: white;
    font-family: 'Pretendard';
    font-size: 16px;
    cursor: pointer;
}

.update {
    background-color: #4E4C8D;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.note-editable, .note-code{
	width:102%;
    height: 500px; /* custom size */
    min-height: 500px; /* custom size */
    max-height: 500px !important; /* custom size */
}