@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Pretendard", "sans-serif";
  /* box-sizing: border-box; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  /* box-sizing: border-box; */
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.background {
  min-height: 100vh;
  padding: 130px 0px 200px;
  background-image: url("https://shareit.kr/image/account/account-background.png");
}

body {
  /* background-color: #fff; */
  align-items: center;
  justify-content: center;
}
.login-wrapper {
  /* flex: 1; */
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  max-width: 500px;
  min-width: 500px;
  height: 500px;
  padding: 100px 70px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.header {
  text-align: center;
  font-size: 15px;
}
.header > h2 {
  font-size: 32px;
}
.header > span {
  color: gray;
}
/* 스터디메이트 이미지사진 크기 */
img {
  width: 100%;
  height: 100px;
}
/* 이메일 주소 글씨인데 input-form 과 거리 띄우는법? 해결*/
.login-form > label {
  line-height: 30px;
  margin: 0 5px;
}
.login-form > ::placeholder {
  font-size: 13px;
}
/* 이메일주소 입력 박스 */
.login-form input[type="text"] {
  display: block;
  width: 400px;
  padding: 6px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 1.1rem;
}
/* 계정찾기 css */
.buttons [type="submit"] {
  display: block;
  width: 100%;
  padding: 7px 60px;
  background-color: #65619E!important;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* 취소 css */
.buttons [type="button"] {
  display: block;
  width: 100%;
  padding: 7px 80px;
  background-color: rgb(244, 241, 241);
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* 계정찾기 , 취소버튼 묶은 div */
.buttonsAll {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* margin: 0 20px; */
}

.buttons [type="submit"]:hover,
.buttons > button:hover {
  background-color: #3b82f6;
}
.buttons [type="button"]:hover,
.buttons > button:hover {
  background-color: white;
  border-color: gray-100;
  outline: none;
}

.buttons [type="button"]:focus,
.buttons > button:focus {
  outline: none;
}

/* .buttonsAll > button {
  display: block;
  width: 100%;
  padding: 7px 60px;
  background-color: #1d4ed8;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
} */
/* 
.buttonsAll > button:focus {
  outline: none;
  box-shadow: none;
}

.buttonsAll > button:hover:focus {
  outline: none;
} */

/* 모달 배경 */
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* 모달 내용 */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
    border-radius: 20px;
  max-width: 500px;
  position: relative;
}

/* 모달 닫기 버튼 */
.close {
  color: #aaa;
  
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 비밀번호 변경 버튼 */
#passwordChangeForm button[type="submit"] {
  background-color: purple;
  color: white;
  border: none;
  padding: 7px 14px;
  font-size: 10px;
  cursor: pointer;
}

#passwordChangeForm button[type="submit"]:hover {
  background-color: #3e8e41;
}

