/* 푸터 */
#new-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  width: 100%;
  margin-top: 70px;
  background-color: rgb(250, 250, 250);
}

/* .test {
  height: 450px;
} */

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 230px;
  width: 480px;
  margin: 0px 90px;
  color: grey;
}

.footer-category {
  display: flex;
  justify-content: start;
  gap: 31px;
  width: 600px;
  margin-bottom: 50px;
}

.footer-category > a > span {
  font-size: 18px;
}

.font-bold {
  font-weight: bold;
}

.info {
  display: flex;
  gap: 20px;
  margin-bottom: 5px;
  font-size: 13px;
}

.project-name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.team-member-name {
  margin-top: 20px;
  font-size: 13px;
}

.representative-number {
  font-weight: bold;
  margin-bottom: 20px;
}

.number {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 8px;
}

.info-time {
  font-weight: bold;
  color: grey;
  font-size: 13px;
  margin-bottom: 8px;
}

.footer-box-btn {
  display: flex;
  gap: 10px;
}

.right-box {
  margin-right: 200px;
}

.footer-box-btn > a {
  background-color: rgb(94, 102, 141);
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
/* 푸터 */
