#header-main {
  height: 80px;
  background-color: white;
  border-bottom: 2px solid #f0f0f0;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  width: 100%;
  margin-bottom: 30px;
}

.header-center{
	display: flex;
	align-items: center;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.logo {
  width: 200px;
  margin: 0 20px;
}

.content-cafe, .content-group{
	margin-left: 10px;
	font-size: 16px;
 	font-weight: 700;
}

.header-right {
  display: flex;
  align-items: center;
  position: absolute;
  right: 150px;
  font-size: 14px;
  font-weight: 500;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px rgb(102, 103, 171);
  height: 34px;
  width: 100px;
  border-radius: 40px;
}

.join {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(102, 103, 171);
  border: solid 2px rgb(102, 103, 171);
  height: 34px;
  width: 100px;
  border-radius: 40px;
  color: white;
}

.header-right > div {
  margin-right: 10px;
}
