#header-main {
  display: flex;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  height: 80px;
  background-color: rgb(250, 250, 250);
}

.logo {
  width: 350px;
  height: 90px;
}

.content-cafe,
.content-group {
  margin: 20px;
}

.header-left {
  display: flex;
  align-items: center;
  width: 800px;
  margin: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: right;
  font-size: 15px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: solid 2px cornflowerblue;
  height: 35px;
  width: 110px;
  border-radius: 40px;
}

.join {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: cornflowerblue;
  border: solid 3px cornflowerblue;
  height: 35px;
  width: 110px;
  border-radius: 40px;
  color: white;
  
}

.header-right > div {
  margin: 20px;
}
