#header-main {
  height: 80px;
  background-color: white;
  border-bottom: 2px solid #f0f0f0;
  display: flex;
  align-items: center;
  z-index: 15000;
  position: fixed;
  width: 100%;
	magin: 0 auto;
  }

.header-left{
	z-index : 15001;
	width: 350px;
	margin-right: 270px;
}

.header-center{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1150px;
	margin: 0 auto;
	position: relative;
}

.logo {
  width: 200px;
  margin-right: 20px;
}

.content-cafe, .content-group, .content-board{
	margin-left: 10px;
	font-size: 16px;
 	font-weight: 700;
}

.header-right {
	width: 280px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* position: absolute;
  right: 150px; */
  font-size: 14px;
  font-weight: 500;
}

.header-right-02{
	width: 280px;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	color: #686868;
}

.header-right-02 a{
	color: #686868;
}

.header-right-02 span{
	margin: 10px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(102, 103, 171);
  color: #242424;
  height: 34px;
  width: 100px;
  border-radius: 40px;
}

.login:hover{
	background-color: #F2F4F6;
}

.join {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(102, 103, 171);
  border: 1px solid rgb(102, 103, 171);
  height: 34px;
  width: 100px;
  border-radius: 40px;
  color: white;
}

.join:hover{
	background-color: rgb(67, 68, 122);
}

.header-right > a {
  margin-right: 10px;
}
