
@charset "UTF-8";






.footer {
  width: all;
  height: 100px;
  /* border-top: 1px solid rgb(240, 240, 240); */
}

.spaceList {
  display: grid;
  margin-top: 24.5px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgb(240, 240, 240);
  gap: 44px;
  grid-template-columns: repeat(3, minmax(0px, 266px));
  /* cursor: pointer; */
}

.SpaceItemstyle {
  height: 0px;
  padding-bottom: 75%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.img {
  vertical-align: top;
}

.space-img {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  inset: 0px !important;
  object-fit: cover !important;
}

.favorite {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("https://shareit.kr/image/btn-large-heart-filled-white.svg");
  background-size: 100%;
  /* z-index: 1010; */
  cursor: pointer;
  border: 0;
}

.SpaceItemstyle-box {
  position: relative;
}

.Space-container {
  /* margin-top: 5px; */
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.Space-host-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #8a8a8a;
}

.Space-host-box {
  min-width: fit-content;
}

.Space-itemstyle {
  display: inline-flex;
  color: rgb(138, 138, 138);
  font-size: 12px;
  /* font-family: Regular, sans-serif; */
  letter-spacing: -0.6px;
  line-height: 17px;
  -webkit-box-align: center;
  align-items: center;
}

.Space-name {
  margin-top: -15px;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

.Space-name-box {
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
  margin-top: 1px;
  /* -webkit-box-align: center; */
  align-items: center;
  letter-spacing: -0.35px;
  color: rgb(36, 36, 36);
  font-size: 15px;
  /* line-height: 21px; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

.Space-address {
  margin-top: 3px;
  color: rgb(163, 163, 163);
  font-size: 12px;
  letter-spacing: -0.6px;
  line-height: 17px;
}

.Space-price {
  display: inline-flex;
  margin-top: 5px;
  color: rgb(87, 87, 87);
  font-size: 13px;
  letter-spacing: -0.39px;
  -webkit-box-align: center;
  align-items: center;
}
.Space-price-box {
  display: flex;
  flex-direction: column;
}

.Space-price-discount {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: -0.06em;
  color: rgb(36, 36, 36);
}

.Price-discount {
  margin: 0px 7px 0px 2px;
  font-size: 13px;
  line-height: 29px;
  letter-spacing: -0.01em;
  color: rgb(87, 87, 87);
  white-space: nowrap;
}

.min-time {
  height: fit-content;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(240, 240, 240);
  border-radius: 2px;
  padding: 1px 4px;
  white-space: nowrap;
  /* font-family: Medium, sans-serif !important; */
  font-size: 12px !important;
  line-height: 18px !important;
  color: rgb(0, 92, 184) !important;
}

.Info-content {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(36, 36, 36);
  padding-top: 6px;
}

.Info-content-star {
  margin-right: 2px;
  width: 14px !important;
}

.Info-content-review {
  font-size: 13px;
  color: rgb(138, 138, 138);
  margin-left: 3px;
  cursor: pointer;
}

.first-section {
  cursor: pointer;
}

.pagenation-list {
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
  justify-content: center;
}

.prev {
  width: 23px;
  height: 35px;
  margin-left: 5px;
  cursor: pointer;
}

.prev button {
  display: flex;
  width: 100%;
  height: 100%;
  color: rgb(87, 87, 87);
  background-color: white;
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 35px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
}

.prev-button {
  width: 7px !important;
  cursor: pointer;
}

.prev-button-img {
  width: 7px;
  height: 11px;
}

.page-number {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  cursor: pointer;
}

.page-number button {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 35px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 78, 235);
  border-radius: 50%;
  border: none;
}

.page-number-button {
  cursor: pointer;
}

.next {
  width: 23px;
  height: 35px;
  margin-left: 5px;
  cursor: pointer;
}

.next button {
  display: flex;
  width: 100%;
  height: 100%;
  color: rgb(87, 87, 87);
  background-color: white;
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 35px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
}

.next-button {
  width: 7px !important;
  cursor: pointer;
}

.next-button-img {
  width: 7px;
  height: 11px;
}
