@charset "UTF-8";


/* 메인 컨테이너 스타일 */
.main-container {
  /* padding-left: 500px; */
  /* padding: 53px 0 140px 43px; */
  /* margin: 0 30px; */
  font-size: 30px;
  font-size: weight;
  padding: -7px 0px 140px 43px;
  width: 100%;
  height: 1000px;
}

.main-container-title {
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 19px;
  position: relative;
}

.footer {
  width: all;
  height: 100px;
  /* border-top: 1px solid rgb(240, 240, 240); */
}
.first-section {
  cursor: pointer;
}

.main-container-section {
  display: grid;
  /* padding: 53px 0 140px 43px; */
  padding-bottom: 70px;
  border-bottom: 1px solid rgb(240, 240, 240);
  gap: 44px;
  grid-template-columns: repeat(3, minmax(0px, 266px));
}

.study-list {
  display: flex;
  grid-gap: 27px;
  gap: 27px;
  flex-wrap: wrap;
  padding: 0;
}

.study-item-open {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 0;
  width: 300px;
  height: 300px;
  background: #fff;
  border: 2px solid #d1d1d1;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.favorite {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("https://shareit.kr/image/btn-large-heart-filled-white.svg");
  background-size: 100%;
  /* z-index: 1010; */
  cursor: pointer;
  border: 0;
}

.study-item-badge {
  display: flex;
  align-items: center;
  grid-gap: 3px;
  gap: 3px;
}

.badge-badge {
  height: 28px;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.04em;
}

.study-badge {
  border-radius: 20px;
  padding: 4px 12px;
  background: #efefef;
  color: #656565;
}

.study-badge-new {
  border-radius: 20px;
  padding: 4px 12px;
  background: #fff9d5;
  color: #fdb900;
}

.study-schedule {
  display: flex;
  font-size: 14px;
  grid-gap: 8px;
  gap: 8px;
  color: #999;
  font-weight: 500;
  margin-top: 10px;
}

.study-title {
  font-size: 17px;
  min-height: 50px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: -0.05em;
  margin: 12px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}

.study-item-position-list {
  height: 22px;
  display: flex;
  margin-bottom: 20px;
  grid-gap: 3px;
  gap: 3px;
}

.study-item-position {
  padding: 3px 10px;
  height: 22px;
  background: #f2f4f8;
  border-radius: 15px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3e86f5;
}

.study-item-border {
  border: 2px solid #f2f2f2;
}

.study-item-info {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
  letter-spacing: -0.04em;
  margin-top: 8px;
}

.study-user-info {
  display: flex;
  grid-gap: 10px;
  gap: 10px;
}

.avatar-user {
  display: flex;
  align-items: center;
  position: relative;
}

.avatar-user-img {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.leader {
  align-items: center;
  position: relative;
  padding-top: 10px;
}

.studyItem-viewsAndComment {
  display: flex;
  grid-gap: 10px;
  gap: 10px;
}

.studyItem-view {
  display: flex;
  align-items: center;
  color: #999;
  grid-gap: 5px;
  gap: 5px;
}

.fa-eye {
  font-size: 15px;
  color: #c0c0c0;
  letter-spacing: -5px;
}

.view {
  display: flex;
  margin: 10px 0;
}

.studyItem-comment {
  display: flex;
  align-items: center;
  color: #999;
  grid-gap: 5px;
  gap: 5px;
}

.comment {
  display: flex;
  margin: 10px;
}

.pagenation-list {
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
  justify-content: center;
}

.prev {
  width: 23px;
  height: 35px;
  margin-left: 5px;
  cursor: pointer;
}

.prev button {
  display: flex;
  width: 100%;
  height: 100%;
  color: rgb(87, 87, 87);
  background-color: white;
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 35px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
}

.prev-button {
  width: 7px !important;
  cursor: pointer;
}

.prev-button-img {
  width: 7px;
  height: 11px;
}

.page-number {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  cursor: pointer;
}

.page-number button {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 35px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 78, 235);
  border-radius: 50%;
  border: none;
}

.page-number-button {
  cursor: pointer;
}

.next {
  width: 23px;
  height: 35px;
  margin-left: 5px;
  cursor: pointer;
}

.next button {
  display: flex;
  width: 100%;
  height: 100%;
  color: rgb(87, 87, 87);
  background-color: white;
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 35px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
}

.next-button {
  width: 7px !important;
  cursor: pointer;
}

.next-button-img {
  width: 7px;
  height: 11px;
}
