/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Pretendard", "sans-serif";
  /* box-sizing: border-box; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  /* box-sizing: border-box; */
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* 여기부터 시작 */

.background {
  min-height: 100vh;
  padding: 130px 0px 0px;
  background-image: url("https://shareit.kr/image/account/account-background.png");
}

body {
  /* background-color: #fff; */
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  /* flex: 1; */
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  max-width: 500px;
  min-width: 500px;
  height: 600px;
  padding: 100px 70px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
/* studymate 이미지 */
img {
  width: 100%;
  height: 100px;
  /* 고객님 환영합니다  */
}
.header > ul {
  color: rgb(135, 122, 122);
  text-align: center;
  justify-content: center;
  align-items: center;
  /* sns로그인  */
}
.loginText {
  font-size: 15px;
  text-align: left;
  width: 400px;
  padding: 7px;
}
/* sns모든 로그인 이미지  */
.snsLogin {
  display: flex;
}

.img-google {
  display: block;
  width: 120px;
  height: 22px;
  padding: 3px;
  border: 2px solid #ddd;
  color: rgb(71, 64, 64);
  border-radius: 10px;
}
.img-kakao {
  display: block;
  width: 120px;
  height: 22px;
  padding: 3px;
  border: 2px solid #ddd;
  color: rgb(71, 64, 64);
  border-radius: 10px;
}
.img-naver {
  color: rgb(71, 64, 64);
  display: block;
  width: 120px;
  height: 22px;
  padding: 3px;
  border: 2px solid #ddd;
  border-radius: 10px;
}


/* hr을 사용하고싶은곳 ! */
.wrapHr {
  display: flex;
  align-items: center;
}
.hr {
  width: 52px;
  border-top: 1px solid gray;
  margin: 0 5px;
}

.studymateLogin {
  color: gray;
}

.snsLogin {
}
.container {
  align-items: center;
  justify-content: center;
}
.findAccount {
  text-align: right;
  font-size: 13px;
}
.input-group > label {
  line-height: 30px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  display: block;
  width: 400px;
  padding: 7px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 1.1rem;
}

.loginButton [type="submit"] {
  display: block;
  width: 100%;
  padding: 7px 0;
  background-color: rgb(0 144 249);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton [type="submit"]:hover,
.loginButton > button:hover {
  background-color: #3b82f6;
}

.footer {
  font-size: 13px;
}

.snsLogin > a {
  margin: 0 5px;
}
