button {
  border: none;
}

main{
	padding-top: 70px;
	margin: 0 auto;
}

.main-banner{
	text-align: center;
	background-color: black;
	margin: 20px 0;
	
}

/* 바디 */
.banner {
  width: 100%;
  height: 230px;
  background-color: bisque;
}

.tag-study {
	width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.material-symbols-rounded {
	margin-left: 6px;
	color: #808080;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

.cafe-list {
  font-weight: bold;
  font-size: 24px;
}
.study-cafe {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 50px 100px;
  grid-template-columns: repeat(4, 276px);
}

.study-cafe > a:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in;
}

.study-cafe > a {
  width: 300px;
}

.new-figure > img {
  height: 250px;
  width: 300px;
  border-radius: 10px;
}
.cafe-address {
  color: gray;
  font-size: 13px;
  margin-top: 10px;
}

.cafe-price {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.price {
  font-size: 25px;
  font-weight: bold;
}
.price-by-hours {
  margin-left: 3px;
  font-size: 13px;
}

.cafe-nickname {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}

.show-all-btn {
	margin-left: 920px;
  height: 40px;
  border: solid 2px gray;
  width: 120px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.move-btn {
	margin-left: 10px;
  font-weight: bold;
  color: gray;
}

.cafe-arrow {
  margin-left: 15px;
}
.new-line {
  height: 90px;
  background-color: #65619e;
  opacity: 0.6;
}

/* 스터디그룹~~~~~~~~~~~~~~ */
.studygroup {
  position: relative;
}
.group-banner {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.arrow-prev,
.arrow-next {
  display: flex;
  width: 35px;
  height: 35px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(212, 219, 226);
  border-radius: 50%;
  box-shadow: rgba(152, 146, 181, 0.16) 0px 2px 2px 0px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.arrow-prev:hover,
.arrow-next:hover {
  transform: scale(1.2);
}

.group-arrow-next,
.group-arrow-prev {
  background-color: white;
}

.prev-btn,
.next-btn {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 10px;
  height: 10px;
  object-fit: contain;
  cursor: pointer;
}
.studygroup > .arrow-prev {
  top: 115px;
  right: 90px;
}

.studygroup > .arrow-next {
  top: 115px;
  right: 45px;
}
.show-group {
  padding: 60px 40px;
  position: relative;
  width: 1420px;
  height: 377px;
  overflow: hidden;
}

.slide-box {
  display: flex;
  position: absolute;
  padding: 60px 20px;
  width: 1420px;
  left: 0;
  top: 0;
}

.slide-new-line {
  display: flex;
  justify-content: space-between;
}

.slide-new-line > a {
  margin: 0 35px;
}

.group-content {
  width: 250px;
  height: 230px;
  border: 2px solid #d1d1d1;
  border-radius: 20px;
  display: inline-block;
  padding: 40px 20px;
  position: relative;
  margin-bottom: 24px;
  cursor: pointer;

  transition-property: all;
  transition: 0.2s ease-in;
}
.group-content:hover {
  transform: scale(1.02);
}

.group-plus {
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}

.group-plus svg {
  margin-right: 4px;
}
.field {
  color: #3d3d3d;
  background-color: #e6e6e6;
  padding: 6px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.new {
  color: #fdb900;
  background-color: #fff9d5;
  padding: 6px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.hot {
  color: #74a0e2;
  background-color: #f1f7ff;
  padding: 6px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.hot .material-symbols-outlined {
  font-size: 12px;
  margin-right: 4px;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.finish {
  color: #ea726f;
  background-color: #ffe8e8;
  padding: 6px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.finish .material-symbols-outlined {
  font-size: 12px;
  margin-right: 4px;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.group-date {
  font-size: 14px;
  color: #999;
  margin: 12px 0;
  font-weight: 500;
}

.group-title {
  width: 250px;
  font-size: 17px;
  font-weight: 500;
  margin: 20px 0;
}

.group-title span {
  line-height: 1.4;
}
.group-keyword {
  width: 250px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
}

.group-keyword span {
  color: #1b4568;
  background-color: #b6d0e1;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.group-info {
  border-top: 1px solid #e4e4e4;
  margin-top: 8px;
  padding-top: 8px;
  display: flex;
  position: absolute;
  bottom: 20px;
  width: 250px;
}

.user {
  display: flex;
  align-items: center;
}

.group-info img {
  border-radius: 50%;
  margin-right: 8px;
}

.group-info span {
  font-size: 14px;
}
/* 스터디그룹~~~~~~~~~~~~~~ */

/* 커뮤니티~~~~~~~~~~~~~~~ */
.community-banner {
  align-items: center;
}

.community-banner-first {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.community-banner-second {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: grey;
  margin-bottom: 24px;
}
.content-list {
  display: flex;
  justify-content: center;
}

.content-listWrap {
  width: 80%;
}
.content-list-wrapper {
  margin: 0;
  padding: 0;
}

.content-list-short {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #d7dce5;
  display: flex;
  justify-content: space-between;
}
.content-list li {
  position: relative;
  padding: 38px 32px;
  border-bottom: 1px solid #d7dce5;
  list-style: none;
}
.content-subject {
  display: inline-block;
  overflow: hidden;
  height: 28px;
  box-sizing: border-box;
  color: #373f57;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 28px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.content-desc {
  display: block;
  overflow: hidden;
  margin-top: 12px;
  height: 26px;
  box-sizing: border-box;
  color: #5c667b;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

.content-data-info {
  margin-top: 20px;
}

.content-info {
  margin-right: 16px;
  display: inline-block;
  position: relative;
  /* padding-left: 28px; */
  height: 24px;
  box-sizing: border-box;
  color: #5c667b;
  font-size: 13px;
  letter-spacing: -0.87px;
  line-height: 24px;
  vertical-align: top;
}

.content-member-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 32px;
  bottom: 38px;
  z-index: 10;
}
/* 사용자 프로필사진 */
.content-userImg {
  vertical-align: top;
  position: relative;
  height: 25px;
  width: 25px;
  left: 5px;
  margin-right: 16px;
  border-radius: 50%;
  object-fit: cover;
}

.content-writer {
  margin: 0 10px;
}

.content-write-date {
  color: #5c667b;
  font-size: 10px;
  position: relative;
}

.spaceItem {
	position: relative;
}

.spaceImg img {
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0px;
	object-fit: cover;
	transition: transform 0.3s ease 0s;
}

.imgInfo {
	transition: transform 0.3s ease 0s;
	width: 100% !important;
	height: 100% !important;
	position: absolute !important;
	inset: 0px !important;
	object-fit: cover !important;
}

/* img {
	vertical-align: top;
} */

.favoritButton {
	width: 54px;
	height: 54px;
	position: absolute;
	top: 4px;
	right: 4px;
	background-color: rgba(255, 255, 255, 0);
	background-image: url("../img/btn-large-heart-white.svg");
	background-size: 100%;
	z-index: 1010;
	cursor: pointer;
	border: none;
}

/* 카페 정보 입력 */
.spaceItem {
	position: relative;
}

.studyCafeName {
	margin-top: 5px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
}

.cafename {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cafename>span {
	font-weight: 600;
	margin-right: auto;
	color: #242424;
	font-size: 15px;
	letter-spacing: -0.6px;
	line-height: 17px;
}

.readContLike {
	min-width: fit-content;
	display: flex;
	justify-contents: center;
}

.CntLikeStyle {
	display: inline-flex;
	color: rgb(138, 138, 138);
	font-size: 12px;
	letter-spacing: -0.6px;
	line-height: 17px;
	-webkit-box-align: center;
	align-items: center;
	flex-shrink: 0;
}

.CntLikeStyle:first-child svg {
	margin-right: 2px;
	display: flex;
	align-content: center;
}

.box-sizing {
	box-sizing: border-box;
	display: block;
	width: initial;
	height: initial;
	background: none;
	opacity: 1;
	border: 0px;
	margin: 0px;
	padding: 0px;
	max-width: 100%;
}

.studyCafeLocation {
	margin-top: 3px;
	color: rgb(163, 163, 163);
	font-size: 12px;
	letter-spacing: -0.6px;
	line-height: 17px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.studyCafePrice {
	display: inline-flex;
	margin-top: 5px;
	color: rgb(87, 87, 87);
	font-size: 13px;
	letter-spacing: -0.39px;
	line-height: 19px;
	-webkit-box-align: center;
	align-items: center;
}

.priceText {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: 20px;
	line-height: 29px;
	letter-spacing: -0.06em;
	color: rgb(36, 36, 36);
}

.priceText>p {
	margin: 0px 7px 0px 2px;
	font-size: 13px;
	line-height: 29px;
	letter-spacing: -0.01em;
	color: rgb(87, 87, 87);
	white-space: nowrap;
}

.studyCafeReply {
	font-size: 14px;
	line-height: 20px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	color: rgb(36, 36, 36);
	padding-top: 6px;
}

.startImg {
	margin-right: 2px;
	width: 14px;
}

.replyInfo {
	font-size: 13px;
	color: rgb(138, 138, 138);
	margin-left: 3px;
	cursor: pointer;
}

/* 커뮤니티~~~~~~~~~~~~~~~ */

/* 바디 */
.spaceList {
  display: flex;
  grid-gap: 27px;
  gap: 27px;
  flex-wrap: wrap;
  padding: 0;
}

.studyOpen {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 0;
  width: 250px;
  height: 250px;
  background: #fff;
  border: 2px solid #d1d1d1;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.badge {
  display: flex;
  align-items: center;
  grid-gap: 3px;
  gap: 3px;

}

.badgeFiled {
  display : flex;
  position: relative;
  height: 28px;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.04em;
}

.badgeFiled > div {

  border-radius: 20px;
  padding: 4px 12px;
  margin : 0 5px;
  background: #efefef;
  color: #656565;
}



/* 좋아요 버튼 */

.groupLikeItems {
	position: absolute;
	top: 20px; 
	right: 25px;
}


.groupLikeItems > img {
	width: 30px;
	height: 30px;
	margin: 3px;
	
}

.groupLikeItems > p {
	position: absolute; 
	bottom: -5px; 
	left: 5px;
	right: 5px;
	margin: 0 0; 
	font-size: 11px;
	color: #999999;
	text-align: center;
	letter-spacing: -0.05em;
	 font-weight: 500;
	
}


.groupLikeItems > button {
	 border: 0;
  background-color: transparent;
  position: relative;
}

.groupLikeButton > p {
	margin: 5px 5px;
}


.endDate {
  display: flex;
  font-size: 14px;
  grid-gap: 8px;
  gap: 8px;
  color: #999;
  font-weight: 500;
  margin-top: 10px;
}

.groupTitle {
  font-size: 17px;
  min-height: 50px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: -0.05em;
  margin: 12px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}

.positionList {
  height: 22px;
  display: flex;
  margin-bottom: 20px;
  grid-gap: 3px;
  gap: 3px;
}

.positionItem {
  padding: 3px 10px;
  grid-gap: 5px;
  gap: 5px;
  height: 22px;
  background: #f2f4f8;
  border-radius: 15px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3e86f5;
}

.studyBorder {
  border-top: 2px solid #f2f2f2;
}

.ReadReviewCnt {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
  letter-spacing: -0.04em;
  margin-top: 8px;
}

.userInfo {
  display: flex;
  grid-gap: 10px;
  gap: 10px;
}

.userInfo > div:last-child {
  padding-top: 8px;
}

.userImg {
  display: flex;
  align-items: center;
  position: relative;
  
}

.userImg > img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
  opacity:0.5; 
}

img {
  width: 25px;
  /* aspect-ratio: auto 30 / 30; */
  height: 23px;
}

.ReadReview {
  display: flex;
  
  grid-gap: 10px;
  gap: 10px;
}

.replyCnt {
  display: flex;
  align-items: center;
  color: #999;
  grid-gap: 5px;
  gap: 5px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.replyCnt > p {
  margin: 0;
}

.bookmark {
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 40px;
  right: 20px;
}

.box-sizing {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

/* 페이징 css */
.pageNumber {
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
  justify-content: center;
}

.prev {
  width: 23px;
  height: 35px;
  margin-left: 5px;
  cursor: pointer;
}

.prev:first-child {
  margin-left: 0px;
}

.prev > button,
.next > button {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
  align-items: center;
  cursor: pointer;
}

.mainBtn .pageBtn {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  cursor: pointer;
}

li{
	list-style: none;
    text-align: -webkit-match-parent;

}