button {
  border: none;
}

body {
  width: 1000px;
  margin: auto;
  min-width: 1500px;
  max-width: 1900px;
}
/* 헤더 */
#header-main {
  display: flex;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  height: 80px;
  background-color: rgb(250, 250, 250);
}


.logo {
  width: 350px;
  height: 90px;
}

.content-cafe,
.content-group {
  margin: 20px;
}

.header-left {
  display: flex;
  align-items: center;
  width: 800px;
  margin: 10px;
}

 .header-right {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: right;
  font-size: 15px;
} 

 .login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: solid 2px cornflowerblue;
  height: 35px;
  width: 110px;
  background-color : white;
  border-radius: 40px;
} 

.join {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: cornflowerblue;
  border: solid 3px cornflowerblue;
  height: 35px;
  width: 110px;
  border-radius: 40px;
}

.join > a{
	  color: white;
}

 .header-right > div {
  margin: 20px;
} 
/* 헤더 */
/* =============================== */
/* 푸터 */
#new-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  width: 100%;
  margin-top: 70px;
  background-color: rgb(250, 250, 250);
}

/* .test {
  height: 450px;
} */

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 230px;
  width: 480px;
  margin: 0px 90px;
  color: grey;
}

.footer-category {
  display: flex;
  justify-content: start;
  gap: 31px;
  width: 600px;
  margin-bottom: 50px;
}

.footer-category > a > span {
  font-size: 18px;
}

.font-bold {
  font-weight: bold;
}

.info {
  display: flex;
  gap: 20px;
  margin-bottom: 5px;
  font-size: 13px;
}

.project-name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.team-member-name {
  margin-top: 20px;
  font-size: 13px;
}

.representative-number {
  font-weight: bold;
  margin-bottom: 20px;
}

.number {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 8px;
}

.info-time {
  font-weight: bold;
  color: grey;
  font-size: 13px;
  margin-bottom: 8px;
}

.footer-box-btn {
  display: flex;
  gap: 10px;
}

.right-box {
  margin-right: 200px;
}

.footer-box-btn > a {
  background-color: rgb(94, 102, 141);
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
/* 푸터 */
/* =============================== */
/* 바디 */
.banner {
  width: 100%;
  height: 230px;
  background-color: bisque;
}
.tag-study {
  display: flex;
  align-items: center;
  height: 100px;
}
.cafe-list {
  margin-left: 60px;
  font-weight: bold;
  font-size: 25px;
}
.study-cafe {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 50px 100px;
  grid-template-columns: repeat(4, 276px);
}

.study-cafe > a:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in;
}

.study-cafe > a {
  width: 300px;
}

.new-figure > img {
  height: 250px;
  width: 300px;
  border-radius: 10px;
}
.cafe-address {
  color: gray;
  font-size: 13px;
  margin-top: 10px;
}

.cafe-price {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.price {
  font-size: 25px;
  font-weight: bold;
}
.price-by-hours {
  margin-left: 3px;
  font-size: 13px;
}

.cafe-nickname {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}

.show-all-btn {
  margin-left: 1130px;
  height: 35px;
  border: solid 2px gray;
  width: 130px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.show-all-btn:hover {
  background-color: #a3a0c5;
}

.move-btn {
  font-weight: bold;
  color: grey;
}

.cafe-arrow {
  margin-left: 15px;
}
.new-line {
  height: 90px;
  background-color: #65619e;
  opacity: 0.6;
}

/* 스터디그룹~~~~~~~~~~~~~~ */
.studygroup {
  position: relative;
  background-color: rgb(250, 250, 250);
}
.group-banner {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  height: 100px;
  align-items: center;
  margin-left: 60px;
}

.arrow-prev,
.arrow-next {
  display: flex;
  width: 35px;
  height: 35px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(212, 219, 226);
  border-radius: 50%;
  box-shadow: rgba(152, 146, 181, 0.16) 0px 2px 2px 0px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.arrow-prev:hover,
.arrow-next:hover {
  transform: scale(1.2);
}

.group-arrow-next,
.group-arrow-prev {
  background-color: white;
}

.prev-btn,
.next-btn {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 10px;
  height: 10px;
  object-fit: contain;
  cursor: pointer;
}
.studygroup > .arrow-prev {
  top: 115px;
  right: 90px;
}

.studygroup > .arrow-next {
  top: 115px;
  right: 45px;
}
.show-group {
  padding: 60px 40px;
  position: relative;
  width: 1420px;
  height: 377px;
  overflow: hidden;
}

.slide-box {
  display: flex;
  position: absolute;
  padding: 60px 20px;
  width: 1420px;
  left: 0;
  top: 0;
}

.slide-new-line {
  display: flex;
  justify-content: space-between;
}

.slide-new-line > a {
  margin: 0 35px;
}

.group-content {
  width: 250px;
  height: 270px;
  border: 2px solid #d1d1d1;
  border-radius: 20px;
  display: inline-block;
  padding: 40px 20px;
  position: relative;
  margin-bottom: 24px;
  cursor: pointer;

  transition-property: all;
  transition: 0.2s ease-in;
}
.group-content:hover {
  transform: scale(1.02);
}

.group-plus {
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}

.group-plus svg {
  margin-right: 4px;
}
.field {
  color: #3d3d3d;
  background-color: #e6e6e6;
  padding: 6px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.new {
  color: #fdb900;
  background-color: #fff9d5;
  padding: 6px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.hot {
  color: #74a0e2;
  background-color: #f1f7ff;
  padding: 6px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.hot .material-symbols-outlined {
  font-size: 12px;
  margin-right: 4px;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.finish {
  color: #ea726f;
  background-color: #ffe8e8;
  padding: 6px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.finish .material-symbols-outlined {
  font-size: 12px;
  margin-right: 4px;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.group-date {
  font-size: 14px;
  color: #999;
  margin: 12px 0;
  font-weight: 500;
}

.group-title {
  width: 250px;
  font-size: 17px;
  font-weight: 500;
  margin: 20px 0;
}

.group-title span {
  line-height: 1.4;
}
.group-keyword {
  width: 250px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
}

.group-keyword span {
  color: #1b4568;
  background-color: #b6d0e1;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.group-info {
  border-top: 1px solid #e4e4e4;
  margin-top: 8px;
  padding-top: 8px;
  display: flex;
  position: absolute;
  bottom: 20px;
  width: 250px;
}

.user {
  display: flex;
  align-items: center;
}

.group-info img {
  border-radius: 50%;
  margin-right: 8px;
}

.group-info span {
  font-size: 14px;
}
/* 스터디그룹~~~~~~~~~~~~~~ */

/* 커뮤니티~~~~~~~~~~~~~~~ */
.community-banner {
  height: 166px;
  align-items: center;
  display: grid;
  background-color: rgb(250, 250, 250);
}

.community-banner-first {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  height: 40px;
}
.community-banner-second {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: grey;
}
.content-list {
  display: flex;
  justify-content: center;
}

.content-listWrap {
  width: 80%;
}
.content-list-wrapper {
  margin: 0;
  padding: 0;
}

.content-list-short {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #d7dce5;
  display: flex;
  justify-content: space-between;
}
.content-list li {
  position: relative;
  padding: 38px 32px;
  border-bottom: 1px solid #d7dce5;
  list-style: none;
}
.content-subject {
  display: inline-block;
  overflow: hidden;
  height: 28px;
  box-sizing: border-box;
  color: #373f57;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 28px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.content-desc {
  display: block;
  overflow: hidden;
  margin-top: 12px;
  height: 26px;
  box-sizing: border-box;
  color: #5c667b;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-data-info {
  margin-top: 20px;
}

.content-info {
  margin-right: 16px;
  display: inline-block;
  position: relative;
  padding-left: 28px;
  height: 24px;
  box-sizing: border-box;
  color: #5c667b;
  font-size: 13px;
  letter-spacing: -0.87px;
  line-height: 24px;
  vertical-align: top;
}

.content-member-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 32px;
  bottom: 38px;
  z-index: 10;
}
/* 사용자 프로필사진 */
.content-userImg {
  vertical-align: top;
  position: relative;
  height: 25px;
  width: 25px;
  left: 5px;
  margin-right: 16px;
  border-radius: 50%;
  object-fit: cover;
}

.content-writer {
  margin: 0 10px;
}

.content-write-date {
  color: #5c667b;
  font-size: 10px;
  position: relative;
}
/* 커뮤니티~~~~~~~~~~~~~~~ */

/* 바디 */
