@charset "UTF-8";


/* 메인 컨테이너 스타일 */
.main-container {
  /* padding-left: 500px; */
  /* padding: 53px 0 140px 43px; */
  /* margin: 0 30px; */
  font-size: 30px;
  font-size: weight;
  padding: -7px 0px 140px 43px;
  width: 100%;
  height: 1000px;
}

.main-container-section {
  display: grid;
  /* padding: 53px 0 140px 43px; */
  padding-bottom: 70px;
  border-bottom: 1px solid rgb(240, 240, 240);
  gap: 44px;
  grid-template-columns: repeat(3, minmax(0px, 266px));
}


.first-section {
  cursor: pointer;
}


.study-list {
  display: flex;
  grid-gap: 27px;
  gap: 27px;
  flex-wrap: wrap;
  padding: 0;
}

.study-item-open {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 0;
  width: 300px;
  height: 300px;
  background: #fff;
  border: 2px solid #d1d1d1;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.favorite {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("https://shareit.kr/image/btn-large-heart-filled-white.svg");
  background-size: 100%;
  /* z-index: 1010; */
  cursor: pointer;
  border: 0;
}

.study-item-badge {
  display: flex;
  align-items: center;
  grid-gap: 3px;
  gap: 3px;
}

.badge-badge {
  height: 28px;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.04em;
}

.study-badge {
  border-radius: 20px;
  padding: 4px 12px;
  background: #efefef;
  color: #656565;
}

.study-badge-new {
  border-radius: 20px;
  padding: 4px 12px;
  background: #fff9d5;
  color: #fdb900;
}

.study-schedule {
  display: flex;
  font-size: 14px;
  grid-gap: 8px;
  gap: 8px;
  color: #999;
  font-weight: 500;
  margin-top: 10px;
}

.study-title {
  font-size: 17px;
  min-height: 50px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: -0.05em;
  margin: 12px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}

.study-item-position-list {
  height: 22px;
  display: flex;
  margin-bottom: 20px;
  grid-gap: 3px;
  gap: 3px;
}

.study-item-position {
  padding: 3px 10px;
  height: 22px;
  background: #f2f4f8;
  border-radius: 15px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3e86f5;
}

.study-item-border {
  border: 2px solid #f2f2f2;
}

.study-item-info {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
  letter-spacing: -0.04em;
  margin-top: 8px;
}

.study-user-info {
  display: flex;
  grid-gap: 10px;
  gap: 10px;
}

.avatar-user {
  display: flex;
  align-items: center;
  position: relative;
}

.avatar-user-img {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.leader {
  align-items: center;
  position: relative;
  padding-top: 10px;
}

.studyItem-viewsAndComment {
  display: flex;
  grid-gap: 10px;
  gap: 10px;
}

.studyItem-view {
  display: flex;
  align-items: center;
  color: #999;
  grid-gap: 5px;
  gap: 5px;
}

.fa-eye {
  font-size: 15px;
  color: #c0c0c0;
  letter-spacing: -5px;
}

.view {
  display: flex;
  margin: 10px 0;
}

.studyItem-comment {
  display: flex;
  align-items: center;
  color: #999;
  grid-gap: 5px;
  gap: 5px;
}

.comment {
  display: flex;
  margin: 10px;
}

.cancel-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.cancel-btn i {
  color: #888;
}

.cancel-btn:hover i {
  color: #f00;
}

#paging {
	margin: 50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

#paging>a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
	border-radius: 100%;
	height: 32px;
	width: 32px;
	font-size: 14px;
}

#paging>a:hover {
	background-color: rgb(227, 227, 227);
}

.active {
	color: #4F4D8E;
	font-weight: bold;
}
