<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Main">
	<select id="cafeSelectAll" resultType="adminCafeVO">
		select j1.study_cafe_number, j1.study_cafe_name, j1.study_cafe_address, j1.study_cafe_price, j1.study_cafe_read_count, j1.study_cafe_like_count,
		count(scc.cafe_comment_number) study_cafe_comment_count, round(avg(scc.cafe_comment_score), 1) study_cafe_comment_score,
		cafe_file_system_name
		from (
		select sc.study_cafe_number, sc.study_cafe_name, sc.study_cafe_address, sc.study_cafe_price, sc.study_cafe_read_count, 
		count(mlc.member_number) study_cafe_like_count, cafe_file_system_name from tbl_study_cafe sc left outer join tbl_member_like_cafe mlc 
		on sc.study_cafe_number = mlc.study_cafe_number 
		group by sc.study_cafe_number) j1 left outer join tbl_study_cafe_comment scc
		on j1.study_cafe_number = scc.study_cafe_number 
		group by j1.study_cafe_number
		order by j1.study_cafe_number desc
		limit #{startRow}, #{rowCount}
	</select>
	
	<select id="cafeGetTotal" resultType="_int">
		select count(study_cafe_number) from tbl_study_cafe tsc
	</select>
	
</mapper>